# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore the PostgreSQL database.
/db/*.postgresql
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore .env file containing sensitive information.
.env

# Ignore the public/uploads directory, where carrierwave and similar gems store uploads.
/public/uploads

# Ignore the node_modules directory.
/node_modules

# Ignore yarn's version of the installed packages.
/yarn-error.log
/yarn.lock

# Ignore the default test database.
/db/test.sqlite3

# Ignore macOS metadata files.
.DS_Store

# Ignore coverage results.
/coverage/

# Ignore system files.
/system/*

# Ignore dotenv environment file.
.env*

# Ignore the PostgreSQL configuration file.
config/database.yml

# Ignore the dotenv-rails backup files.
/.env*

# Ignore the Pow server configuration file.
.powenv
